.cont{
  background-color: rgba(225, 232, 242, 1) !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
body{
  background-color: rgba(179, 180, 142, 1);
}
.head{
  background-color: rgba(68, 152, 228, 1);
  padding: 10px;
}
.redes{
  position:absolute;
  bottom:0;
  right:0;
}
.red-social{
  width: 30px;
}
.logo{
  width: 15vw;
}
.barra-navegacion{
  width: 100%;
}
.container{
background-color: white;
}
.nav-buttom{
  margin: 10px;
  color: black !important;
  background-color: rgba(68, 152, 228, 1) !important;
}
.cuerpo{
  padding: 10px;
  background-color: white;
}
nav{
  background-color:rgba(222, 222, 222, 1);
  margin: 0 -15px;
}
img{
  width: 100%;
}
.image{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
h3 {
  margin-bottom: -20px !important;
}
.perfil{
  width: 50px;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
